---
import { Picture } from 'astro:assets';
import plant_bg from '../assets/cosy_workplace/plant_bg.png';
import plant_fg from '../assets/cosy_workplace/plant_fg.png';
import leaf_1 from '../assets/cosy_workplace/leaf_1.png';
import leaf_2 from '../assets/cosy_workplace/leaf_2.png';
import leaf_3 from '../assets/cosy_workplace/leaf_3.png';
import leaf_4 from '../assets/cosy_workplace/leaf_4.png';

const sharedClass = 'absolute bottom-0 left-0 w-[35%]';
---

<div class="relative">
    <Picture class={sharedClass} src={plant_bg} alt="plant pot" loading="eager" />
    <Picture
        class={sharedClass}
        src={leaf_1}
        alt="plant leaf"
        id="leaf_1"
        style={`--deg: ${'-5deg'}; --tx: ${'-5%'}; animation: leafWobble 2s infinite ease-in-out;`}
        loading="eager"
    />
    <Picture
        class={sharedClass}
        src={leaf_2}
        alt="plant leaf"
        id="leaf_2"
        style={`--deg: ${'-2deg'}; --tx: ${'-2%'}; animation: leafWobble 3s infinite 0.5s ease-in-out;`}
        loading="eager"
    />
    <Picture
        class={sharedClass}
        src={leaf_3}
        alt="plant leaf"
        id="leaf_3"
        style={`--deg: ${'2deg'}; --tx: ${'2%'}; animation: leafWobble 2s infinite 0.8s ease-in-out;`}
        loading="eager"
    />
    <Picture
        class={sharedClass}
        src={leaf_4}
        alt="plant leaf"
        id="leaf_4"
        style={`--deg: ${'4deg'}; --tx: ${'4%'}; animation: leafWobble 2s infinite 1.3s ease-in-out;`}
        loading="eager"
    />
    <Picture class={sharedClass} src={plant_fg} alt="plant pot" loading="eager" />
</div>

<style>
    @keyframes leafWobble {
        0% {
            transform: rotate(0deg) translateX(0%);
        }
        50% {
            transform: rotate(var(--deg)) translateX(var(--tx));
        }
        100% {
            transform: rotate(0deg) translateX(0%);
        }
    }
</style>
